<div class="container-fluid">
  <div class="row">
    <div class="row">
		{{imgs}}
      {{#each imgs}}
        <div class="col-md-4 col-sm-6 img-holder nopadding">
          <img {{bind-attr src=this.url}} {bind-attr type=this.type}}>
          <div class="img-tags">
              {{this.tags}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
