<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <img class="img-full" src="http://a5.files.biography.com/image/upload/c_fit,cs_srgb,dpr_1.0,h_1200,q_80,w_1200/MTE5NDg0MDU0NTIzODQwMDE1.jpg">
    </div>
    <div class="col-md-3">
      {{image.uploader}}
      {{image.tags}}
    </div>
  </div>
</div>
