<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <img class="img-full" src="{{image.url}}">
    </div>
    <div class="col-md-3">
      {{image.uploader}}
      {{image.tags}}
    </div>
  </div>
</div>
