body {
  padding-top: 50px;
}

.img-holder {
  height: 300px;
  /*overflow: hidden;
  position: relative;*/
}

.img-holder img {
  /*width: 100%;
  min-height: 100%;
  position: absolute;*/
  object-fit: cover; /* Do not scale the image */
  object-position: cent3er; /* Center the image within the element */
  width: 100%;
  height: 300px;
}

.img-holder .img-tags {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, .7);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  color: white;
  display: block;
}

.img-full {
  object-fit: cover;
  object-position: center;
  height: auto;
  width: 100%;
}

.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}

.login-label {
	float: left;
	width: 30%;
}
.inputs {
	float: right;
	width: 70%;
	margin-bottom:14px;
}
.form-wrapper{
  background-color: #eee;
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}
.login-input input {
	width: 100%;
}
.submitBox {
	text-align: right;
  padding-top: 20px;
}
.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.login-register {
  display: inline;
  position: absolute;
  bottom: 24px;
  left: 30px;
}
